*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 2%;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* header */

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-line .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container-list {
  display: flex;
  gap: 40px;
}

.nav-main-text .link {
  display: block;
  padding: 24px 0;
}

.nav-main-text .link {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-main-text .link:hover,
.nav-main-text .link:focus {
  color: #404bbf;
}

.current {
  position: relative;
}

.nav-main-text .current {
  color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  left: 0;
  border-radius: 2px;
  bottom: -1px;
}

.nav-main-text .link:hover,
.nav-main-text .link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-cont-list {
  display: flex;
  gap: 40px;
}

.address-line .link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-line .link:hover,
.address-line .link:focus {
  color: #404bbf;
}

.address-line .link:hover,
.address-line .link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* logo */

.logo-main {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.top-line .logo-text {
  color: #2e2f42;
}
.section-footer .logo-text {
  color: #f4f4fd;
}

/* button */

.button-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0 auto;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  display: block;
  min-width: 169px;
}

.button-text:hover,
.button-text:focus {
  background-color: #404bbf;
}

button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main section */

.nav-main-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-list {
  font-style: normal;
}

.address-line {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-section {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-section .main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-features-text,
.section-portfolio-text {
  letter-spacing: 0.02em;
}

.section-team .text-title,
.section-team-text {
  text-align: center;
}

.section-team .section-team-text {
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* feautures */

.feat-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.feat-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}

.feat-item {
  width: calc((100% - 72px) / 4);
}

.feat-pic-box {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* team */

.section-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-team-content {
  background-color: #ffffff;
  display: block;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-team-content img {
  object-fit: cover;
}

.team-con-text {
  padding: 32px 0;
  text-align: center;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  /* margin-bottom: 32px; */
  justify-content: center;
  align-items: center;
}

.soc-item-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #ffffff;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-item-link:hover,
.soc-item-link:focus {
  background-color: #404bbf;
}

.soc-list-item {
  fill: #f4f4fd;
}

.soc-item-link:hover .soc-item-link:focus {
  transition-property: background-color;
  transition-duration: 300ms;
}

/* portfolio */

.port-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-card:hover .port-hover-text {
  transform: translateY(0);
}

.port-hover-block {
  position: relative;
  overflow: hidden;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.port-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  gap: 24px;
}

.port-list li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.port-list .port-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-list .port-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-card {
  display: block;
  width: calc((100% - 48px) / 3);
}

.port-card img {
  overflow: hidden;
}

.port-con-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/* footer */

.section-footer .container {
  display: flex;
  align-items: baseline;
}

.section-footer .foot-logo-p {
  margin-right: 120px;
}

.section-footer .logo-main {
  margin-bottom: 16px;
  margin-right: 0;
  display: inline-block;
}

.section-footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social .foot-soc-list {
  display: flex;
  gap: 16px;
}

.social {
  margin-right: 80px;
}

.foot-soc-list .soc-item-link {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-soc-list .soc-item-link:hover,
.foot-soc-list .soc-item-link:focus {
  background-color: #31d0aa;
}

.soc-text {
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-box {
}

.foot-form-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.foot-form {
  display: flex;
  gap: 24px;
}

.foot-label {
}

.foot-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.foot-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.foot-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.foot-btn:hover,
.foot-btn:focus {
  background-color: #404bbf;
}

.foot-btn-logo {
  margin-left: 16px;
}

.foot-btn-logo {
  fill: #ffffff;
}

/* modal */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-head-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input:focus,
.modal-input:hover {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-textarea:focus,
.modal-textarea:hover {
  /* fill: #4d5ae5; */
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-input {
  margin-bottom: 24px;
}

.input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-check-text a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-check-item {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-label .modal-check-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* .modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
} */

.check-icon {
  /* fill: #f4f4fd; */
}

.modal-check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-link-policy {
  color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
